<h1>All Posts</h1>

<% if user_signed_in? %>
  <%= link_to 'New Post', new_post_path, class: 'button' %>
<% else %>
  <%= link_to 'Sign in to post', new_user_session_path, class: 'button' %>
<% end %>

<ul>
	<% @posts.each do |post| %>
		<li>
			<h2><%= link_to post.title, post_path(post) %></h2>
			<p><%= sanitize truncate(post.body, length: 200) %></p>
			<small>By <%= post.user&.username || post.user&.name || 'Unknown' %> • <%= time_ago_in_words(post.created_at) %> ago</small>
			<% if user_signed_in? && current_user == post.user %>
				<div>
					<%= link_to 'Edit', edit_post_path(post) %> |
					<%= button_to 'Delete', post, method: :delete, data: { turbo_confirm: 'Are you sure?' }, form: { style: 'display:inline;' } %>
				</div>
			<% end %>
		</li>
	<% end %>
</ul>

<%= paginate @posts %>
